@import "src/styles/colors";
@import "src/styles/flexbox";

.opponent {
  display: flex;
  flex-wrap: wrap;
  &__pokemon {
    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &__box {
        @include flexbox(flex-start, 1, column);
        border: black 2px solid;
        height: fit-content;
        width: 100%;
        max-width: 250px;
        &--info {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    &__image {
      display: flex;
      position: relative;
      &__damage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--critical {
          border: black 2px solid;
          border-radius: 4px;
          padding: 5px 10px;
          background-color: #851a1a;
          opacity: 0.8;
          animation: disapear 0.5s ease;
        }
        &--missed {
          border: black 2px solid;
          border-radius: 4px;
          padding: 5px 10px;
          background-color: #847a7a;
          opacity: 0.8;
          animation: disapear 0.5s ease;
        }
      }
      &--thumbnails {
        height: 240px;
        width: 240px;
      }
    }
  }
}

@keyframes disapear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
