<div class="opponent">
  <div class="opponent__pokemon__info">
    <div class="opponent__pokemon__info__box">
      <div class="opponent__pokemon__info__box--info">
        <span>{{
          opponentActivePokemon.nickname
            ? opponentActivePokemon.nickname
            : (opponentActivePokemon.basePokemon.name | translate)
        }}</span>
        <span>{{ "LVL" | translate }}: {{ opponentActivePokemon.level }}</span>
      </div>
      <progress-bar
        [style]="'hp'"
        [displayHp]="false"
        [currentProgress]="
          opponentActivePokemon.currentHp ?? opponentActivePokemon.stats.hp
        "
        [max]="opponentActivePokemon.stats.hp"
      />
    </div>
    <div class="opponent__pokemon__info__attack">
      <app-battle-scene-attack-info [damage]="opponentDamage" />
    </div>
  </div>
  <div class="opponent__pokemon__image">
    <div class="opponent__pokemon__image__damage">
      <div *ngIf="opponentDamage?.critical" class="opponent__pokemon__image__damage--critical">
        {{ "CRITICAL_HIT!" | translate }}
      </div>
      <div *ngIf="opponentDamage?.missed" class="opponent__pokemon__image__damage--missed">
        {{ "MISS!" | translate }}
      </div>
    </div>
    <app-display-pokemon-image
      class="opponent__pokemon__image--thumbnails"
      [pokemon]="opponentActivePokemon"
      [type]="'thumbnails'"
    />
  </div>
</div>
