@if (battle) {
<div class="battle-resume">
  <div
    class="battle-resume__player"
    [ngClass]="battle.winner === 'player' ? 'winner' : 'looser'">
    <h3>
      <pm-trainer-name [trainer]="battle.player" />
    </h3>
    <div class="battle-resume__player__pokemon">
      @for (pokemon of battle.player.pokemons; track pokemon) {
      <div>
        <app-display-pokemon-image
          class="pokemon-image"
          [pokemon]="pokemon"
          [type]="'max-size'" />
      </div>
      }
    </div>
  </div>
  <div class="battle-resume__center">
    <h2>{{ 'WINNER' | translate }}</h2>
    <h3>
      <pm-trainer-name
        [trainer]="
          battle.winner === 'player' ? battle.player : battle.opponent
        " />
    </h3>
    <button mat-flat-button class="btn-primary" (click)="backHome()">
      <mat-icon>home</mat-icon>
      {{ 'BACK_HOME' | translate }}
    </button>
  </div>
  <div
    class="battle-resume__opponent"
    [ngClass]="battle.winner === 'opponent' ? 'winner' : 'looser'">
    <h3>
      <pm-trainer-name [trainer]="battle.opponent" />
    </h3>
    <div class="battle-resume__opponent__pokemon">
      @for (pokemon of battle.opponent.pokemons; track pokemon) {
      <div>
        <app-display-pokemon-image
          class="pokemon-image"
          [pokemon]="pokemon"
          [type]="'max-size'" />
      </div>
      }
    </div>
  </div>
</div>
}
