@import 'src/styles/flexbox';
@import 'src/styles/colors';

.pokemon-resume {
  @include flexbox(flex-start, 2, column);
  padding: 0;
  width: 100%;
  &__title {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &__nickname {
      max-width: 500px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__content {
    overflow: hidden;
    display: flex;
    padding: 10px;
    gap: 10px;
    height: 100%;
    width: -webkit-fill-available;
    &__main-infos {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 250px;
      &__image {
        justify-content: flex-start;
        height: 100%;
      }
      &__types {
        display: flex;
        justify-content: center;
      }
    }
  }
}
.swiper {
  width: calc(100% - 270px);
  &__slide1 {
    height: 95%;
  }
}
