<div class="pokemon-resume">
  <span class="pokemon-resume__title" [ngClass]="pokemon.basePokemon.types[0]">
    {{ pokemon.basePokemon.name | translate }}
  </span>
  <div class="pokemon-resume__content">
    <div class="pokemon-resume__content__main-infos">
      <app-display-pokemon-image
        class="pokemon-resume__content__main-infos__image"
        [pokemon]="pokemon"
        type="max-size"
      />
      <div class="pokemon-resume__content__main-infos__types">
        <img
          *ngFor="let type of pokemon.basePokemon.types"
          class="type-displayText"
          [src]="'assets/types/displayText/' + type + '.png'"
          [alt]="type"
        />
      </div>
      <div class="pokemon-resume__content__main-infos__level">
        <span>{{ "LVL" | translate }}: {{ pokemon.level }}</span>
        <progress-bar [currentProgress]="pokemon.exp" [max]="pokemon.expMax" />
      </div>
    </div>
    <swiper-container class="swiper" #swiperContainer init="false">
      <swiper-slide class="swiper__slide1">
        <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
      </swiper-slide>
      <swiper-slide>
        <div class="swiper__slide2">
          <div *ngFor="let move of pokemon.moves" class="swiper__slide2__move">
            <div class="swiper__slide2__move__top">
              <img
                class="icon-type"
                src="assets/types/simple/{{ move.type }}.png"
                [alt]="move.type"
              />
              <span>{{ move.name | translate }}</span>
            </div>
            <div class="swiper__slide2__move__bottom">
              <img
                class="img-category"
                src="assets/move/{{ move.category }}.png"
                [alt]="move.type"
              />
              <div class="swiper__slide2__move__bottom--info">
                <span>{{ "POWER" | translate }}: {{ move.power }}</span>
                <span>{{ "ACCURACY" | translate }}: {{ move.accuracy }}%</span>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
