<div class="host">
  <div class="battle-scene">
    <div class="opponent">
      <div class="battle-scene__pokemons__box">
        <div class="battle-scene__pokemons__box--info">
          <span>{{
            opponentActivePokemon.nickname
              ? opponentActivePokemon.nickname
              : (opponentActivePokemon.basePokemon.name | translate)
          }}</span>
          <span
            >{{ "LVL" | translate }}: {{ opponentActivePokemon.level }}</span
          >
        </div>
        <progress-bar
          [style]="'hp'"
          [currentProgress]="
            opponentActivePokemon.currentHp ?? opponentActivePokemon.stats.hp
          "
          [max]="opponentActivePokemon.stats.hp"
        ></progress-bar>
      </div>
      <img
        class="battle-scene__pokemons--thumbnails"
        src="assets/images/thumbnails/{{
          opponentActivePokemon.basePokemon.id
        }}.png"
        [alt]="opponentActivePokemon.basePokemon.name"
      />
    </div>
    <div class="player">
      <img
        class="battle-scene__pokemons--back"
        src="assets/images/back/{{ playerActivePokemon.basePokemon.id }}.png"
        [alt]="playerActivePokemon.basePokemon.name"
      />
      <div class="battle-scene__pokemons__box">
        <div class="battle-scene__pokemons__box--info">
          <span>{{
            playerActivePokemon.nickname
              ? playerActivePokemon.nickname
              : (playerActivePokemon.basePokemon.name | translate)
          }}</span>
          <span>{{ "LVL" | translate }}: {{ playerActivePokemon.level }}</span>
        </div>
        <progress-bar
          [style]="'hp'"
          [currentProgress]="
            playerActivePokemon.currentHp ?? playerActivePokemon.stats.hp
          "
          [max]="playerActivePokemon.stats.hp"
        ></progress-bar>
      </div>
    </div>
  </div>
</div>
