<div class="host">
  <img class="battle-scene__img" src="assets/battleback/City.png" />
  <div *ngIf="!started" class="btn-play">
    <button mat-flat-button (click)="onStart()">
      <span>
        {{ 'PLAY' | translate }}
      </span>
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <div class="battle-scene">
    <div class="opponent">
      <app-battle-scene-opponent
        [opponentActivePokemon]="opponentActivePokemon()"
        [opponentDamage]="opponentDamage()" />
    </div>
    <div class="player">
      <app-battle-scene-player
        [playerActivePokemon]="playerActivePokemon()"
        [playerDamage]="playerDamage()" />
    </div>
  </div>
</div>
