<div class="host">
  <div *ngIf="!started" class="btn-play" #start>
    <button class="btn-primary" (click)="onStart()">
      {{ "PLAY" | translate }}
    </button>
    <span *ngIf="!canStart">{{ "PLEASE_SELECT_ATTACK" | translate }}</span>
  </div>

  <div class="battle-scene">
    <div class="opponent">
      <app-battle-scene-opponent
        [opponentActivePokemon]="opponentActivePokemon"
        [opponentDamage]="opponentDamage"
      />
    </div>
    <div class="player">
      <app-display-pokemon-image
        class="battle-scene__pokemons--back"
        [pokemon]="playerActivePokemon"
        [type]="'back'"
      />
      <div class="battle-scene__pokemons__box">
        <div class="battle-scene__pokemons__box--info">
          <span>{{
            playerActivePokemon.nickname
              ? playerActivePokemon.nickname
              : (playerActivePokemon.basePokemon.name | translate)
          }}</span>
          <span>{{ "LVL" | translate }}: {{ playerActivePokemon.level }}</span>
        </div>
        <progress-bar
          [style]="'hp'"
          [currentProgress]="
            playerActivePokemon.currentHp ?? playerActivePokemon.stats.hp
          "
          [max]="playerActivePokemon.stats.hp"
        />
      </div>
    </div>
  </div>
</div>
