<div class="trainer">
  {{ trainer.name }}
</div>
<div class="battle-trainer-pokemons">
  <div>
    <div
      *ngFor="let pokemon of trainerPokemons.slice(1)"
      class="battle-trainer-pokemons__pokemon-box"
      [ngClass]="{ ko: pokemon.currentHp === 0 }"
      (click)="!disabled && pokemon.currentHp !== 0 && click(pokemon)"
    >
      <div class="battle-trainer-pokemons__pokemon-box__info">
        <app-circular-hp-pokemon [pokemon]="pokemon" />
        <span>{{
          pokemon.nickname
            ? pokemon.nickname
            : (pokemon.basePokemon.name | translate)
        }}</span>
        <span>{{ "LVL" | translate }}: {{ pokemon.level }}</span>
        <span
          *ngIf="pokemon.currentHp === 0"
          class="battle-trainer-pokemons__pokemon-box__info--ko"
          >KO</span
        >
      </div>
    </div>
  </div>
  <div class="cooldown-horizontal" [style.width.%]="progress"></div>
</div>
