@import "src/styles/colors";
@import "src/styles/flexbox";

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .trainer {
    @include flexbox(center, 2);
  }

  .attack {
    @include flexbox(center, 2);
  }

  .battle-trainer-pokemons {
    position: relative;
    @include flexbox(flex-start, 2);

    &__pokemon {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__pokemon-box {
      border: $background-color2 2px solid;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 5px;

      &__info {
        display: flex;
        align-items: center;
        gap: 10px;

        &--ko {
          background-color: $background-color1;
          padding: 5px;
          border-radius: 5px;
          border: black 2px solid;
        }
      }
    }

    .ko {
      opacity: 0.5;
      cursor: default;
    }

    &__pokemon-box:hover {
      border-color: $select-border;
    }
  }
}
