<div class="top-bar-week-calendar">
  @if (nextBattle) {
  <div class="top-bar-week-calendar__next-battle">
    <h3>{{ 'NEXT_BATTLE' | translate }}:</h3>
    <div class="top-bar-week-calendar__next-battle__info">
      <span
        >{{ dayToNextBattle }}
        {{ nextBattle.event.competition.name | translate }}
      </span>
      <span>
        @let trainer = nextBattle.event.player._id === player._id ?
        nextBattle.event.opponent : nextBattle.event.player;
        <pm-trainer-name [trainer]="trainer" />
        {{
          {
            trainerId: trainer._id,
            competitionId: nextBattle.event.competition._id
          } | ranking
        }}
      </span>
    </div>
  </div>
  }
  <div class="top-bar-week-calendar__calendar">
    @for (day of week; track day; let i = $index) {
    <div
      class="top-bar-week-calendar__calendar__day"
      [ngClass]="{
        'top-bar-week-calendar__calendar__day--actual': i === 1
      }">
      <label class="top-bar-week-calendar__calendar__day__date">
        {{
          day.split('-')[0].charAt(0).toUpperCase() + day.split('-')[0].slice(1)
        }}</label
      >
      @for (event of events[i]; track event) {
      <div
        class="top-bar-week-calendar__calendar__day__event"
        [ngClass]="{
          'top-bar-week-calendar__calendar__day__event--passed': i === 0,
          'top-bar-week-calendar__calendar__day__event--green': [
            'GENERATE_NURSERY_EGGS',
            'NURSERY_FIRST_SELECTION_DEADLINE',
            'NURSERY_LAST_SELECTION_DEADLINE'
          ].includes(event.type)
        }">
        @switch (event.type) { @case ('BATTLE') {
        <div>
          <span>
            @let trainer = event?.event.opponent.name !== player.name ?
            event?.event.opponent : event?.event.player;
            <pm-trainer-name
              [trainer]="
                event?.event.opponent.name !== player.name
                  ? event?.event.opponent
                  : event?.event.player
              " />
            {{
              {
                trainerId: trainer._id,
                competitionId: event?.event.competition._id
              } | ranking
            }}
          </span>
          <pm-battle-status [battle]="event.event" [playerId]="player._id" />
        </div>
        } @case ('GENERATE_NURSERY_EGGS') {
        <div>
          <span>{{ 'GENERATE_NURSERY_EGGS' | translate }}</span>
        </div>
        } @case ('NURSERY_FIRST_SELECTION_DEADLINE') {
        <div>
          <span>{{ 'NURSERY_FIRST_SELECTION_DEADLINE' | translate }}</span>
        </div>
        } @case ('NURSERY_LAST_SELECTION_DEADLINE') {
        <div>
          <span>{{ 'NURSERY_LAST_SELECTION_DEADLINE' | translate }}</span>
        </div>
        } }
      </div>
      }
    </div>
    }
  </div>
</div>
