@if (pokemon) {
<div mat-dialog-content>
  <div class="evolution">
    <app-display-pokemon-image
      [pokemon]="pokemon"
      type="thumbnails"
      [dynamicSizing]="true"
      class="evolution__evolving" />
    <app-display-pokemon-image
      [pokemon]="data.evolution.evolution"
      [shiny]="pokemon.shiny"
      [dynamicSizing]="true"
      type="thumbnails"
      class="evolution__evolved" />
  </div>
  <div class="evolution__message">{{ message }}</div>
</div>
}
<div mat-dialog-actions>
  <button
    [disabled]="pokemon.basePokemon.id !== data.evolution.evolution.id"
    mat-flat-button
    mat-dialog-close>
    {{ 'CLOSE' | translate }}
  </button>
</div>
