.pokemon-panel {
  border: 1px solid;
  min-width: 200px;
  width: fit-content;
  border-radius: 10px;
  &__header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &--type {
      display: flex;
      border-bottom: 1px solid;
      label {
        text-align: center;
        flex: 1;
      }
    }
    &--stats {
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
  }
}
.elec {
  background-color: yellow;
  color: black;
}
.plante {
  background-color: green;
}
