.pokemon-panel {
  min-width: 200px;
  width: fit-content;
  border-radius: 10px;
  background-color: #0f0e0e;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    width: 100%;
    border-radius: 7px 7px 0 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &--type {
      display: flex;
      justify-content: center;
      border-bottom: 3px solid;
    }
    &--stats {
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
  }
}
.Électrik {
  background-color: #fcfc36;
  color: black;
}
.Plante {
  background-color: #148314;
}
