<div *ngIf="pokemon" class="pokemon-panel">
  <div class="pokemon-panel__header" [ngClass]="pokemon.types[0]">
    <label>{{ pokemon.name }}</label>
  </div>
  <div class="pokemon-panel__content">
    <div class="pokemon-panel__content--type">
      <label *ngFor="let type of pokemon.types">{{ type }}</label>
    </div>
    <div class="pokemon-panel__content--stats">
      <span>PV: {{ pokemon.baseStats.hp }}</span>
      <span>Attaque: {{ pokemon.baseStats.atk }}</span>
      <span>Defense: {{ pokemon.baseStats.def }}</span>
      <span>Attaque Speciale: {{ pokemon.baseStats.spAtk }}</span>
      <span>Defense Speciale: {{ pokemon.baseStats.spDef }}</span>
      <span>Vitesse: {{ pokemon.baseStats.spe }}</span>
    </div>
  </div>
</div>
