<div *ngIf="pokemon" class="pokemon-panel">
    <div class="pokemon-panel__header" [ngClass]="pokemon.types[0]">
        <label>{{pokemon.name}}</label>
    </div>
    <div class="pokemon-panel__content">
        <div class="pokemon-panel__content--type">
            <label *ngFor="let type of pokemon.types">{{type}}</label>
        </div>
        <div class="pokemon-panel__content--stats">
                <span>PV: {{pokemon.hp}}</span>
                <span>Attaque: {{pokemon.atk}}</span>
                <span>Defense: {{pokemon.def}}</span>
                <span>Attaque Speciale: {{pokemon.spAtk}}</span>
                <span>Defense Speciale: {{pokemon.spDef}}</span>
                <span>Vitesse: {{pokemon.spe}}</span>
        </div>
    </div>
</div>
