<div
  *ngIf="player && player.pokemons && opponent && opponent.pokemons"
  class="battle"
>
  <div class="battle__trainer-pokemons">
    <app-battle-trainer-pokemons
      [trainer]="player"
      [progress]="player.autorizations.pokemonCooldown"
      (clickOnPokemon)="player.changeActivePokemon($event)"
    />
  </div>
  <div class="battle__scene">
    <app-battle-scene
      [opponentActivePokemon]="opponent.pokemons[0]"
      [playerActivePokemon]="player.pokemons[0]"
      [opponentDamage]="opponent.damage"
      [playerDamage]="player.damage"
      [canStart]="!!player.selectedMove"
      (battleStart)="startBattle()"
    />
    <app-battle-player-move
      [activePokemon]="player.pokemons[0]"
      [selectedMove]="player.selectedMove"
      [progress]="player.autorizations.moveCooldown"
      (onMoveChange)="player.onMoveChange($event)"
    />
  </div>
  <div class="battle__trainer-pokemons">
    <app-battle-oppenent-pokemons
      [pokemonProgress]="opponent.autorizations.pokemonCooldown"
      [moveProgress]="opponent.autorizations.moveCooldown"
      [trainer]="opponent"
      [selectedMove]="opponent.selectedMove"
    />
  </div>
</div>
