<div class="battle">
  <div class="battle__trainer-pokemons">
    <app-battle-trainer-pokemons
      [trainer]="player"
      [trainerPokemons]="playerPokemons"
      (clickOnPokemon)="changePlayerActivePokemon($event)"
    ></app-battle-trainer-pokemons>
  </div>
  <div class="battle__scene">
    <app-battle-scene
      [opponentActivePokemon]="opponentPokemons[0]"
      [playerActivePokemon]="playerPokemons[0]"
    ></app-battle-scene>
  </div>
  <div class="battle__trainer-pokemons">
    <app-battle-trainer-pokemons
      [trainer]="opponent"
      [trainerPokemons]="opponentPokemons"
      (clickOnPokemon)="changeOpponentActivePokemon($event)"
    ></app-battle-trainer-pokemons>
  </div>
</div>
