@import "src/styles/flexbox";
:host {
  display: block;
  padding: 15px;
  .games {
    @include flexbox(flex-start, 2);
    &__table {
      &__pokemons {
        display: flex;
        flex-direction: row;
      }
      &__icons {
        width: 0;
        padding: 0;
      }
    }
  }
}
