<div class="games-header">
  <button
    [matBadge]="user.friendRequest.length"
    matBadgeColor="warn"
    matBadgeSize="small"
    [matBadgeHidden]="user.friendRequest.length === 0"
    mat-icon-button
    class="games-header__friends"
    (click)="friends()">
    <mat-icon>group</mat-icon>
  </button>
  <h3 *ngIf="user">{{ user.username }}</h3>
  <button
    [matMenuTriggerFor]="settingsMenu"
    mat-icon-button
    class="games-header__settings">
    <mat-icon>settings</mat-icon>
  </button>
</div>
<mat-menu #settingsMenu>
  <button mat-menu-item [matMenuTriggerFor]="languages">
    {{ 'LANGUAGES' | translate }}
  </button>
  <button mat-menu-item (click)="logout()">
    {{ 'LOGOUT' | translate }}
  </button>
</mat-menu>
<mat-menu #languages>
  @for (lang of settings.languages; track lang) {
  <button
    class="games-header__settings__lang"
    (click)="changeLanguage(lang)"
    mat-menu-item>
    @if (lang === currentLang){
    <mat-icon>check</mat-icon>
    } @else {
    <mat-icon></mat-icon>
    }
    <img
      [alt]="lang"
      [src]="'https://flagsapi.com/' + getLangFlag(lang) + '/flat/32.png'" />
  </button>
  }
</mat-menu>
<div class="games">
  <table mat-table [dataSource]="$game">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'GAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="actualDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'DATE' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.actualDate | localDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef>{{ 'PLAYER' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.player.name }}</td>
    </ng-container>
    <ng-container matColumnDef="pokemons">
      <th mat-header-cell *matHeaderCellDef>{{ 'POKEMONS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="games__table__pokemons">
          <app-display-pokemon-image
            *ngFor="let pokemon of element.player.pokemons"
            [pokemon]="pokemon"
            type="icon" />
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="playingTime">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'PLAYING_TIME' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ formatPlayingTime(element.playingTime) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="games__table__icons">
        <button (click)="delete(element)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="games__table__icons">
        <button mat-icon-button (click)="click(element)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<button mat-fab color="warn" (click)="addGame()">
  <mat-icon>add</mat-icon>
</button>
