:host {
  overflow: hidden;
  position: relative;
}

.content {
  margin: 15px;
  overflow-y: auto;
  height: calc(100vh - 82px);
}

.background {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  height: 100vh;
  z-index: -500;
}
