<div class="battle__right-part">
  <div class="battle__right-part__top">
    <h3 class="battle__right-part__top__title">
      <pm-trainer-name
        class="battle__right-part__top__player"
        [trainer]="player" />
      <span> VS</span>
      <pm-trainer-name
        class="battle__right-part__top__opponent"
        [trainer]="opponent" />
    </h3>
    <div class="battle__right-part__actions">
      @if(!loopMode){
      <button
        [matTooltip]="'NEXT_ROUND' | translate"
        [disabled]="defeat"
        color="warn"
        mat-icon-button
        (click)="next()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      } @if(loopMode){
      <button
        [matTooltip]="'AUTOMATIC_NEXT_ROUND'"
        mat-icon-button
        (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
      } @else {
      <button
        [matTooltip]="'PAUSE' | translate"
        mat-icon-button
        (click)="loop()">
        <mat-icon>repeat</mat-icon>
      </button>
      }
    </div>
  </div>
  <div class="battle__right-part__move-order">
    <span>{{ 'NEXT_MOVES' | translate }} :</span>
    @for (pokemon of battleOrder; track pokemon){
    <mat-card
      class="battle__right-part__move-order__pokemon"
      [ngClass]="
        pokemon.trainerId === opponent._id
          ? 'battle__right-part__move-order__pokemon--opponent'
          : ''
      ">
      {{ pokemon.nickname ?? pokemon.basePokemon.name | translate }}
      {{ 'LVL' | translate }}: {{ pokemon.level }}
    </mat-card>
    }
  </div>
  <div #messages class="battle__right-part__message">
    @for (roundMessage of battleMessage; track roundMessage){ @for (message of
    roundMessage; track message){
    <div>
      {{ message }}
    </div>
    }
    <mat-divider class="battle__right-part__message__separator" />
    }
  </div>
</div>
<pm-battle-scene [opponent]="opponent" [player]="player" />
