.sidenav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
  &__nav {
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
    height: 26px;
    align-items: center;
    &:hover {
      background-color: #673ab7;
      cursor: pointer;
    }
  }
}
