<div class="battle-attack">
  <div
    *ngFor="let attack of attacks"
    class="battle-attack__attack"
    [ngClass]="{ selectedAttack: selectedAttack?.name === attack.name }"
    (click)="!disabled && onClick(attack)"
  >
    <div class="battle-attack__attack__top">
      <img
        class="icon-type"
        src="assets/types/simple/{{ attack.type }}.png"
        [alt]="attack.type"
      />
      <span>{{ attack.name }}</span>
    </div>
    <div class="battle-attack__attack__bottom">
      <img
        class="img-category"
        src="assets/attack/{{ attack.category }}.png"
        [alt]="attack.type"
      />
      <div class="battle-attack__attack__bottom--info">
        <span>{{ "POWER" | translate }}: {{ attack.power }}</span>
        <span>{{ "ACCURACY" | translate }}: {{ attack.accuracy }}%</span>
      </div>
    </div>
  </div>
  <div class="cooldown-vertical" [style.height.%]="progress"></div>
</div>
