.circular-hp-pokemon {
  height: 60px;
  width: 60px;
  position: relative;
  &__progress-bar {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &__pokemon {
    height: 66%;
    width: 66%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
