<div *ngIf="pokemonBase" class="pokedex_details">
  <div class="pokedex_details__left-part">
    <app-display-pokemon-image [pokemon]="pokemonBase" type="max-size" />
    <pm-display-type [basePokemon]="pokemonBase" />
    <div>
      Disponible dans un oeuf:
      {{
        !!pokemonBase.base && !pokemonBase.mythical && !pokemonBase.legendary
      }}
    </div>
  </div>
  <div class="pokedex_details__right-part">
    <div class="pokedex_details__right-part__evolution-tree">
      <div
        *ngFor="let evolution of evolutionOf"
        class="pokedex_details__right-part__evolution-tree__evolution"
      >
        <app-display-pokemon-image
          [pokemon]="evolution.pokemon"
          [type]="'thumbnails'"
          (click)="navigateToPokemon(evolution.pokemon.id)"
        />
        <div
          class="pokedex_details__right-part__evolution-tree__evolution__method"
        >
          <mat-icon>arrow_forward</mat-icon>
          <span>{{ "LVL" | translate }}: {{ evolution.minLevel }}</span>
        </div>
      </div>
      <app-display-pokemon-image
        [pokemon]="pokemonBase"
        [type]="'thumbnails'"
      />
      <div
        *ngFor="let evolution of evolutions"
        class="pokedex_details__right-part__evolution-tree__evolution"
      >
        <div
          class="pokedex_details__right-part__evolution-tree__evolution__method"
        >
          <mat-icon>arrow_forward</mat-icon>
          <span>{{ "LVL" | translate }}: {{ evolution.minLevel }}</span>
        </div>
        <app-display-pokemon-image
          [pokemon]="evolution.pokemon"
          [type]="'thumbnails'"
          (click)="navigateToPokemon(evolution.pokemon.id)"
        />
      </div>
    </div>
    <pm-pokemon-details-stats [baseStats]="pokemonBase.baseStats" />
  </div>
</div>
