<div *ngIf="pokemonBase" class="pokedex_details">
  <div class="pokedex_details__left-part">
    <app-display-pokemon-image [pokemon]="pokemonBase" type="max-size" />
    <div class="pokedex_details__left-part__types">
      <pm-display-type [basePokemon]="pokemonBase" />
    </div>
    <div class="pokedex_details__left-part__infos">
      <span class="pokedex_details__left-part__infos__info">
        <span> {{ "EGG_AVAILABLE" | translate }}</span>
        <mat-icon
          [ngClass]="
            !!pokemonBase.base &&
            !pokemonBase.mythical &&
            !pokemonBase.legendary
              ? 'font-green'
              : 'font-red'
          "
          >{{
            !!pokemonBase.base &&
            !pokemonBase.mythical &&
            !pokemonBase.legendary
              ? "done"
              : "close"
          }}</mat-icon
        >
      </span>
      <span class="pokedex_details__left-part__infos__info">{{
        "MORE_TO_COME" | translate
      }}</span>
    </div>
  </div>
  <div class="pokedex_details__right-part">
    <pm-evolution-tree
      *ngIf="evolutionOf.length > 0 || evolutions.length > 0"
      [evolutionOf]="evolutionOf"
      [evolutions]="evolutions"
      [pokemonBase]="pokemonBase"
    />
    <pm-pokemon-details-stats [baseStats]="pokemonBase.baseStats" />
    <pm-pokedex-moves-learned [movesLearned]="movesLearned" />
  </div>
</div>
