$background-color1: #0e0e0e;
$background-color2: #161616;

$select-border: #000000;

$lvl-progress-bar-color: #00ffffff;
$progress-bar-background-color: #d3d3d3ff;

$max-hp-color: #008000ff;

$green-good-color: #135c13;

$red-bad-color: #881818;
