@mixin mat-theme() {
  .mat-mdc-dialog-container {
    .mdc-dialog__content {
      color: inherit !important;
    }
  }

  .mdc-floating-label {
    color: inherit !important;
  }

  .mat-mdc-table .mat-mdc-row:hover,
  .mat-mdc-table .mat-mdc-footer-row:hover {
    background-color: #1c1c1c;
  }

  .mat-mdc-table .mdc-data-table__row {
    height: 40px;
  }
  .mdc-data-table__cell {
    color: inherit;
  }

  pm-ranking .mat-mdc-table .mdc-data-table__row {
    height: 30px;
    font-size: 16px;
  }

  .mat-mdc-slider.mat-accent {
    --mdc-slider-handle-color: #ffffff;
    --mdc-slider-focus-handle-color: #ffffff;
    --mdc-slider-hover-handle-color: #ffffff;
    --mdc-slider-active-track-color: $light-primary-text;
    --mdc-slider-inactive-track-color: #ffffff;
    --mdc-slider-with-tick-marks-active-container-color: #000;
    --mdc-slider-with-tick-marks-inactive-container-color: #ffffff;
    --mat-mdc-slider-ripple-color: #ffffff;
    --mat-mdc-slider-hover-ripple-color: rgb(255 255 255 / 5%);
    --mat-mdc-slider-focus-ripple-color: rgb(255 253 255 / 20%);
  }
  .mat-sort-header-content {
    flex: 1;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    width: auto;
  }
  .mat-mdc-form-field-type-mat-select {
    width: 100%;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    display: flex;
    padding: 0;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
    .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .mat-date-range-input-container {
    width: -webkit-fill-available;
  }
  .mat-mdc-select {
    display: flex !important;
  }
  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding: 0 16px !important;
  }
  .mat-mdc-form-field {
    width: 100% !important;
  }
}
