.mat-mdc-dialog-container {
  .mdc-dialog__content {
    color: inherit !important;
  }
}

.mdc-floating-label {
  color: inherit !important;
}

.mat-mdc-table .mat-mdc-row:hover,
.mat-mdc-table .mat-mdc-footer-row:hover {
  background-color: #1c1c1c !important;
}

.mat-mdc-table .mdc-data-table__row {
  height: 40px !important;
}
