<div *ngIf="pokemon" class="pokemon-panel">
  <div class="pokemon-panel__header" [ngClass]="pokemon.types[0]">
    <label>{{ pokemon.name | translate }}</label>
  </div>
  <div class="pokemon-panel__content">
    <img
      class="img-pokemon"
      src="assets/images/max-size/{{ pokemon.id }}.png"
      [alt]="pokemon.name"
    />
    <div class="pokemon-panel__content--type">
      <img
        *ngFor="let type of pokemon.types"
        class="type-displayText"
        src="assets/types/displayText/{{ type }}.png"
        [alt]="type"
      />
    </div>
    <div class="pokemon-panel__content--stats">
      <span>{{ "HP" | translate }}: {{ pokemon.baseStats.hp }}</span>
      <span>{{ "ATTACK" | translate }}: {{ pokemon.baseStats.atk }}</span>
      <span>{{ "DEFENSE" | translate }}: {{ pokemon.baseStats.def }}</span>
      <span
        >{{ "SPECIAL_ATTACK" | translate }}: {{ pokemon.baseStats.spAtk }}</span
      >
      <span
        >{{ "SPECIAL_DEFENSE" | translate }}:
        {{ pokemon.baseStats.spDef }}</span
      >
      <span>{{ "SPEED" | translate }}: {{ pokemon.baseStats.spe }}</span>
    </div>
  </div>
</div>
