@import "src/styles/flexbox";
@import "src/styles/colors";

:host {
  position: absolute;
  right: 0;
  height: calc(100vh - 52px);
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  .top-bar-week-calendar {
    animation: translateY 0.5s ease;
    @include flexbox(flex-start, 1);
    align-items: normal;
    gap: 10px;
    max-height: 50vh;
    overflow: hidden;
    &__day {
      @include flexbox(flex-start, 2, column);
      gap: 10px;
      flex: 1;
      word-break: break-word;
      animation: translateX 0.3s ease;
      overflow: hidden;
      padding: 10px 0;
      &__date {
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &--actual {
        background-color: #9e9e9e;
      }

      &__event {
        width: -webkit-fill-available;
        text-align: center;
        background-color: #9100ff;
        padding: 5px;
        &--passed {
          background-color: #777373;
        }
        &--green {
          background-color: #44c74a;
        }
      }
    }
  }
}
@keyframes translateX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translateY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.W_WIN {
  color: $green-good-color;
  font-weight: bold;
}
.L_LOOSE {
  color: $red-bad-color;
  font-weight: bold;
}
