<div class="top-bar-week-calendar">
  <div
    class="top-bar-week-calendar__day"
    *ngFor="let day of data$ | async; let i = index"
    [ngClass]="{
      'top-bar-week-calendar__day--actual': day.split('-')[0] === actualDate
    }"
  >
    <label class="top-bar-week-calendar__day__date">
      {{
        day.split("-")[0].charAt(0).toUpperCase() + day.split("-")[0].slice(1)
      }}</label
    >
    <div *ngFor="let event of events[i]">
      {{ event?.event.player.name }} VS {{ event?.event.opponent.name }}
    </div>
  </div>
</div>
