<div class="top-bar-week-calendar">
  <div
    class="top-bar-week-calendar__day"
    *ngFor="let day of data$ | async; let i = index"
    [ngClass]="{
      'top-bar-week-calendar__day--actual': day.split('-')[0] === actualDate
    }"
  >
    <label class="top-bar-week-calendar__day__date">
      {{
        day.split("-")[0].charAt(0).toUpperCase() + day.split("-")[0].slice(1)
      }}</label
    >
    <div
      *ngFor="let event of events[i]"
      class="top-bar-week-calendar__day__event"
      [ngClass]="{
        'top-bar-week-calendar__day__event--passed': i === 0,
        'top-bar-week-calendar__day__event--green': [
          'GENERATE_NURSERY_EGGS',
          'NURSERY_FIRST_SELECTION_DEADLINE',
          'NURSERY_LAST_SELECTION_DEADLINE'
        ].includes(event.type)
      }"
      [ngSwitch]="event.type"
    >
      <div *ngSwitchCase="'BATTLE'">
        <span>{{
          event?.event.opponent.name !== player.name
            ? event?.event.opponent.name
            : event?.event.player.name
        }}</span>
        <span [ngClass]="getBattleStatus(event.event)">
          {{ getBattleStatus(event.event) | translate }}</span
        >
      </div>
      <div *ngSwitchCase="'GENERATE_NURSERY_EGGS'">
        <span>{{ "GENERATE_NURSERY_EGGS" | translate }}</span>
      </div>
      <div *ngSwitchCase="'NURSERY_FIRST_SELECTION_DEADLINE'">
        <span>{{ "NURSERY_FIRST_SELECTION_DEADLINE" | translate }}</span>
      </div>
      <div *ngSwitchCase="'NURSERY_LAST_SELECTION_DEADLINE'">
        <span>{{ "NURSERY_LAST_SELECTION_DEADLINE" | translate }}</span>
      </div>
    </div>
  </div>
</div>
