<div class="top-bar-week-calendar">
  <div
    class="top-bar-week-calendar__day"
    *ngFor="let day of data$ | async; let i = index"
    [ngClass]="{
      'top-bar-week-calendar__day--actual': day.split('-')[0] === actualDate
    }"
  >
    <label class="top-bar-week-calendar__day__date">
      {{
        day.split("-")[0].charAt(0).toUpperCase() + day.split("-")[0].slice(1)
      }}</label
    >
    <div
      *ngFor="let event of events[i]"
      class="top-bar-week-calendar__day__event"
      [ngClass]="{
        'top-bar-week-calendar__day__event--passed': i === 0,
        'top-bar-week-calendar__day__event--green': [
          'GenerateNurseryEggs',
          'NurseryFirstSelectionDeadline',
          'NurseryLastSelectionDeadline'
        ].includes(event.type)
      }"
      [ngSwitch]="event.type"
    >
      <div *ngSwitchCase="'Battle'">
        <span>{{
          event?.event.opponent.name !== player.name
            ? event?.event.opponent.name
            : event?.event.player.name
        }}</span>
        <span [ngClass]="getBattleStatus(event.event)">
          {{ getBattleStatus(event.event) | translate }}</span
        >
      </div>
      <div *ngSwitchCase="'GenerateNurseryEggs'">
        <span>{{ "NURSERY_EGGS_ARRIVAL_DATE" | translate }}</span>
      </div>
      <div *ngSwitchCase="'NurseryFirstSelectionDeadline'">
        <span>{{ "NURSERY_FIRST_SELECTION" | translate }}</span>
      </div>
      <div *ngSwitchCase="'NurseryLastSelectionDeadline'">
        <span>{{ "NURSERY_LAST_SELECTION" | translate }}</span>
      </div>
    </div>
  </div>
</div>
