<h2 mat-dialog-title>Formulaire Pokémon</h2>

<mat-dialog-content>
  <form [formGroup]="pokemonForm">
    <mat-form-field>
      <mat-label>Pokémon</mat-label>
      <input
        type="text"
        matInput
        [formControl]="pokemonForm.controls.basePokemon"
        [matAutocomplete]="auto" />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayPokemon.bind(this)">
        <mat-option
          *ngFor="let pokemon of filteredPokemons | async"
          [value]="pokemon">
          {{ pokemon.name | translate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Surnom</mat-label>
      <input matInput [formControl]="pokemonForm.controls.nickname" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Niveau</mat-label>
      <input
        matInput
        max="100"
        min="0"
        type="number"
        [formControl]="pokemonForm.controls.level" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Trainers</mat-label>
      <mat-select [formControl]="pokemonForm.controls.trainerId">
        <mat-option *ngFor="let trainer of trainers" [value]="trainer._id">
          {{ trainer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Moves</mat-label>
      <mat-select multiple [formControl]="pokemonForm.controls.moves">
        <mat-option
          *ngFor="let move of moves"
          [value]="move"
          [disabled]="
            pokemonForm.controls.moves.value?.length > 1 &&
            !pokemonForm.controls.moves.value?.includes(move)
          ">
          {{ move.name | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>Shiny</span>
    <mat-slide-toggle
      [formControl]="pokemonForm.controls.shiny"></mat-slide-toggle>
    <div>
      <span *ngFor="let displayedMove of pokemonForm.controls.moves.value">{{
        displayedMove.name | translate
      }}</span>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Annuler</button>
  <button
    mat-flat-button
    color="warn"
    [disabled]="!pokemonForm.valid"
    (click)="submit()">
    Soumettre
  </button>
</mat-dialog-actions>
