<div class="pc-storage">
  <div class="pc-storage__team" *ngIf="playerTeam.length > 0">
    <div
      class="pc-storage__team__pokemon"
      *ngFor="let storage of playerTeam"
      [ngClass]="{
        firstSelected: storage.firstSelected,
        secondSelected: storage.secondSelected
      }"
      (click)="setFirstSelected(storage)"
      (contextmenu)="setSecondSelected(storage, $event)"
    >
      <app-display-pokemon-image
        *ngIf="storage.pokemon"
        class="flex"
        [pokemon]="storage.pokemon"
        type="thumbnails"
      />
    </div>
  </div>
  <div class="pc-storage__box" *ngIf="pcStorage">
    <div
      class="pc-storage__box__cell"
      *ngFor="let storage of storageArray"
      [ngClass]="{
        firstSelected: storage.firstSelected,
        secondSelected: storage.secondSelected,
        disabled: storage.disabled
      }"
      (click)="!storage.disabled && setFirstSelected(storage)"
      (contextmenu)="!storage.disabled && setSecondSelected(storage, $event)"
    >
      <app-display-pokemon-image
        class="pc-storage__box__cell__icon"
        *ngIf="storage.pokemon; else emptyDiv"
        [pokemon]="storage.pokemon"
        type="icon"
      />
    </div>
  </div>
  <div class="pc-storage__resumes">
    <app-pokemon-resume
      *ngIf="firstSelected; else emptyResume"
      class="pc-storage__resumes__box"
      [pokemon]="firstSelected"
    />
    <app-pokemon-resume
      *ngIf="secondSelected; else emptyResume"
      class="pc-storage__resumes__box"
      [pokemon]="secondSelected"
    />
  </div>
  <button class="btn-primary" (click)="switchPokemon()">Déplacer</button>
</div>
<ng-template #emptyDiv>
  <div class="empty-div"></div>
</ng-template>

<ng-template #emptyResume>
  <div class="empty-resume"></div>
</ng-template>
