@import '../../../../styles/flexbox';
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  .starters {
    width: calc(100% - 40px);
    &__starter {
      background-color: $background-color2;
      border-radius: 8px;
      align-items: normal;
      cursor: pointer;
      border: 5px solid $background-color2;
      &--selected {
        border-color: $battle-event;
      }
    }
  }
}
