.host {
  display: flex;
  justify-content: center;
}
.battle-scene {
  border: red 1px solid;
  width: 100%;
  .battle-scene__pokemons {
    display: flex;
    align-items: center;
    &__box {
      border: black 2px solid;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding-top: 5px;
      margin: 5px;
      height: fit-content;
      background-color: #0f0e0e;
      &--info {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;
      }
    }
    &--thumbnails {
      height: 240px;
      width: 240px;
    }
    &--back {
      height: 288px;
      width: 288px;
    }
  }
}
.opponent {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.player {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}
