<img
  #img
  class="display-pokemon-image"
  [ngClass]="{
    icon: type === 'icon',
    'max-height': maxHeight(),
    'max-width': !maxHeight()
  }"
  draggable="false"
  [src]="imageUrl"
  (load)="loadImg()"
  (click)="!disabledClick() && type !== 'icon' && type !== 'back' && click()"
  alt="{{ basePokemon?.name ?? 'EGG' | translate }} {{ type }}" />
<mat-icon
  *ngIf="shiny"
  class="shiny"
  [style.font-size.px]="fontSize"
  [style.padding.px]="fontSize / 5"
  [inline]="true"
  >star</mat-icon
>
