:host {
  display: contents;
  position: relative;
  .display-pokemon-image {
    cursor: pointer;
    object-fit: contain;
  }
  .dynamic-sizing {
    height: 100%;
    width: 100%;
  }
  .shiny {
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    color: #cbcb4c;
  }
  .max-width {
    width: 100%;
  }
  .max-height {
    height: 100%;
  }
  .icon {
    height: 40px;
  }
}
