<div class="pc-storage">
  @if (playerTeam.length > 0) {
  <div class="pc-storage__team">
    @for (storage of playerTeam; track storage) {
    <div
      class="pc-storage__team__pokemon"
      [ngClass]="{
        firstSelected: storage.firstSelected,
        secondSelected: storage.secondSelected
      }"
      (click)="setFirstSelected(storage)"
      (contextmenu)="setSecondSelected(storage, $event)">
      @if (storage.pokemon) {
      <app-display-pokemon-image
        [matBadgeHidden]="
          !badgeDataService.pokemon.includes(storage.pokemon._id)
        "
        [disabledClick]="true"
        matBadgeColor="warn"
        matBadge="&#8288;"
        matBadgeSize="small"
        class="flex"
        [pokemon]="storage.pokemon"
        type="thumbnails" />
      }
    </div>
    }
  </div>
  }
  <div class="pc-storage__main-part">
    <div class="pc-storage__main-part__buttons">
      <button mat-flat-button color="accent" (click)="switchPokemon()">
        {{ 'SWAP' | translate }}
      </button>
      <div class="pc-storage__main-part__buttons__info">
        <mat-icon>info</mat-icon
        ><span>{{ 'PC_STORAGE_INFO' | translate }}</span>
      </div>
    </div>
    @if (pcStorage) {
    <div class="pc-storage__main-part__box">
      @for (storage of storageArray; track storage) {
      <div
        class="pc-storage__main-part__box__cell"
        [ngClass]="{
          firstSelected: storage.firstSelected,
          secondSelected: storage.secondSelected,
          disabled: storage.disabled
        }"
        (click)="!storage.disabled && setFirstSelected(storage)"
        (contextmenu)="!storage.disabled && setSecondSelected(storage, $event)">
        @if (storage.pokemon) {
        <app-display-pokemon-image
          [matBadgeHidden]="
            !badgeDataService.pokemon.includes(storage.pokemon._id)
          "
          [disabledClick]="true"
          matBadgeColor="warn"
          matBadge="&#8288;"
          matBadgeSize="small"
          class="pc-storage__main-part__box__cell__icon"
          [pokemon]="storage.pokemon"
          type="icon" />
        } @else {
        <div class="empty-div"></div>
        }
      </div>
      }
    </div>
    }
  </div>
  <div class="pc-storage__resumes">
    @if (firstSelected && firstSelected.level !== 0) {
    <app-pokemon-resume
      class="pc-storage__resumes__box"
      [pokemon]="firstSelected" />
    } @else {
    <div class="empty-resume"></div>
    } @if (secondSelected && secondSelected.level !== 0) {
    <app-pokemon-resume
      class="pc-storage__resumes__box"
      [pokemon]="secondSelected" />
    } @else {
    <div class="empty-resume"></div>
    }
  </div>
</div>
