<div class="pc-storage">
  <pm-pokemon-storage (selectionChange)="onSelectionChange($event)" />
  <div class="pc-storage__resumes">
    @if (firstSelected && firstSelected.level !== 0) {
    <app-pokemon-resume
      class="pc-storage__resumes__box"
      [pokemon]="firstSelected" />
    } @else {
    <div class="empty-resume"></div>
    } @if (secondSelected && secondSelected.level !== 0) {
    <app-pokemon-resume
      class="pc-storage__resumes__box"
      [pokemon]="secondSelected" />
    } @else {
    <div class="empty-resume"></div>
    }
  </div>
</div>
