@import 'colors';
@import 'flexbox';

.pc-storage {
  display: flex;
  gap: 20px;
  height: calc(100vh - 92px);
  &__resumes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 940px);
    &__box {
      flex: 1;
      height: 0;
      display: flex;
    }
  }
}
.empty-resume {
  flex: 1;
  min-width: 300px;
}
