@import 'flexbox';

.friend-request {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__request {
    @include flexbox(space-between, 1);
    width: -webkit-fill-available;
    width: -moz-available;
    align-items: center;
  }
}
