@import 'colors';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .stat {
    width: 100%;
    &--up {
      color: $green-good-color;
    }
    &--down {
      color: $red-bad-color;
    }

    &__progress-bar {
      display: contents;
    }
  }
}
