.btn-primary {
  width: fit-content;
  min-width: 100px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #3d3d3d;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #0f0e0e;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  color: white;
}

.btn-primary:hover {
  background-color: #161515;
  box-shadow: 0px 0px 20px -18px;
}

.btn-primary:active {
  transform: scale(0.95);
}
