.btn-danger {
  width: fit-content;
  min-width: 100px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #581111;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #851a1a;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
}

.btn-danger:hover {
  background-color: #862222;
  box-shadow: 0px 0px 20px -18px;
}

.btn-danger:active {
  transform: scale(0.95);
}
