@import 'flexbox';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px;

  .main-page {
    &__top {
      @include flexbox(center, 1, column, 20px, 0.9);
      align-items: center;
      gap: 20px;
      width: auto;
      height: calc(100vh - 140px);
      justify-content: space-between;
      padding-bottom: 40px;
      &__title {
        width: 100%;
      }
      &__bar {
        height: 5px;
        background-color: white;
        width: 50%;
      }
      &__paragraph {
        width: 50%;
        text-align: center;
      }
      &__play-button {
        width: 300px;
        height: 100px;
        font-size: 45px;
        border-radius: 20px;
      }
    }
    &__news {
      @include flexbox(left, 1, column, 10px, 0.9);
      height: calc(100vh - 120px);

      gap: 10px;
      &__title {
        text-align: center;
        width: 100%;
      }
      &__content {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        &__article {
          @include flexbox(left, 2, column, 20px, 0.8);
          margin: 0;
          height: 100%;
          width: calc(33% - 46px);
        }
      }
    }
  }
}
