<div class="main-page__top">
  <h1 class="main-page__top__title">Pokemon Manager</h1>
  <div style="display: flex">
    <p style="flex: 1">{{ 'PM_DESC' | translate }}</p>
    <button
      class="main-page__top__play-button"
      routerLink="login"
      mat-flat-button
      color="warn">
      {{ 'PLAY' | translate }}
    </button>
  </div>
</div>
<div class="main-page__news">
  <h1 class="main-page__news__title">News</h1>
  <div class="main-page__news__content">
    <pm-news-v1-1 class="main-page__news__content__article" />
    <pm-news-v1-2 class="main-page__news__content__article" />
  </div>
</div>
