<div class="main-page__top">
  <img src="assets/other/Title.png" alt="title" />
  <div class="main-page__top__bar"></div>
  <p class="main-page__top__paragraph">{{ 'PM_DESC' | translate }}</p>
  <button
    class="main-page__top__play-button"
    routerLink="login"
    mat-flat-button
    color="warn">
    {{ 'PLAY' | translate }}
  </button>
</div>
<div class="main-page__news">
  <h1 class="main-page__news__title">News</h1>
  <div class="main-page__news__content">
    <pm-news-v1-2 class="main-page__news__content__article" />
    <pm-news-v1-1 class="main-page__news__content__article" />
  </div>
</div>
