@import 'src/styles/flexbox';
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  .starters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    &__starter {
      @include flexbox(center, 2, column);
      align-items: normal;
      cursor: pointer;
      border: 5px solid $background-color2;
      &--selected {
        border-color: $battle-event;
      }
    }
  }
}
