@import "src/styles/colors";

.battle-scene__attack {
  z-index: -1;
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-width: 200px;
  border: black 2px solid;
  padding: 5px 10px;
}
.up {
  animation: slideUp 0.3s ease-out;
  border-radius: 4px 4px 0 0;
  border-bottom-style: hidden;
}
.down {
  animation: slideDown 0.3s ease-out;
  border-radius: 0 0 4px 4px;
  border-top-style: hidden;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.EFFECTIVE {
  background-color: white;
  color: black;
}

.NOT_VERY_EFFECTIVE {
  background-color: $red-bad-color;
  color: black;
}

.SUPER_EFFECTIVE {
  background-color: $green-good-color;
  color: black;
}

.IMMUNE {
  background-color: #808080;
  color: black;
}
