<button class="btn btn-default" (click)="click()">Creer pokemon</button>
<button class="btn btn-primary" (click)="clickP()">Test</button>
<button class="btn btn-success" (click)="startBattle()">Nursery</button>
<button class="btn btn-primary" (click)="goToPc()">PC</button>
<button mat-flat-button color="warn" (click)="testRoute()">Test route</button>
<button mat-flat-button (click)="goToTrainers()">Trainers</button>
<button mat-flat-button color="accent" (click)="goToCreateCalendarEvent()">
  calendar event
</button>
<button mat-flat-button color="warn" (click)="goToGames()">Games</button>
