<button class="btn btn-default" (click)="click()">Default</button>
<button class="btn btn-primary" (click)="clickP()">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-danger">Danger</button>
<search-input (pokemonsChanged)="onPokemonsChanged($event)"></search-input>
<div class="flex">
  <div *ngFor="let pokemon of pokemonBases">
    <pokemon-panel [pokemon]="pokemon"></pokemon-panel>
  </div>
</div>
<cooldown-button></cooldown-button>
<div class="pokemon-trainer">
  <img
    *ngFor="let pokemon of trainerPokemon"
    [src]="imgNumber(pokemon.basePokemon)"
    [alt]="pokemon.basePokemon.name"
  />
</div>
<app-circular-progress-bar [progress]="0" />
<progress-bar [currentProgress]="progress"></progress-bar>
<progress-bar [currentProgress]="progress" [style]="'hp'"></progress-bar>
