@import 'flexbox';

:host {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  .full {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .tournament-ranking {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    &__ranking {
      @include flexbox(left, 1, column);
      align-items: normal;
      width: -webkit-fill-available;
      width: -moz-available;
      gap: 5px;
      &__trainer {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        &--player {
          color: $orange;
          font-weight: bold;
        }
        &--looser {
          opacity: 0.5;
        }
      }
    }
  }
}
