@if (loading) {
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
}
<table
  matSort
  (matSortChange)="sort($event)"
  mat-table
  [dataSource]="dataSource">
  @for (column of conf.columns; track column; let i = $index) {
  <ng-container [matColumnDef]="column.name">
    <th *matHeaderCellDef>
      @if (column.sort) {
      <div mat-sort-header>
        <ng-container
          pmDynamicCell
          [componentType]="column.header.component"
          [data]="column.header.data">
        </ng-container>
      </div>
      } @else {
      <ng-container
        pmDynamicCell
        [componentType]="column.header.component"
        [data]="column.header.data">
      </ng-container>
      }
    </th>
    <ng-container [matColumnDef]="column.name + 'Input'">
      <th mat-header-cell *matHeaderCellDef>
        @if (column.search) {
        <mat-form-field>
          @if (column.search.type === 'multi-select') {
          <mat-select multiple [formControl]="formInput.controls[i]"
            >@for (value of column.search.values; track value) {
            <mat-option [value]="value">{{ value | translate }}</mat-option>
            }
          </mat-select>
          } @if (column.search.type === 'select') {
          <mat-select [formControl]="formInput.controls[i]"
            >@for (value of column.search.values; track value) {
            <mat-option [value]="value">{{ value | translate }}</mat-option>
            }
          </mat-select>
          } @if (column.search.type === 'dateRange') {
          <mat-date-range-input [rangePicker]="picker">
            <input
              (dateChange)="onDateRangeChange(formInput.controls[i], 0, $event)"
              matStartDate />
            <input
              (dateChange)="onDateRangeChange(formInput.controls[i], 1, $event)"
              matEndDate />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          } @if ( column.search.type !== 'select' && column.search.type !==
          'multi-select' && column.search.type !== 'dateRange' ) {
          <input
            matInput
            [type]="column.search.type"
            [formControl]="formInput.controls[i]" />
          }</mat-form-field
        >
        }
      </th>
    </ng-container>
    <td mat-cell *matCellDef="let element">
      <ng-container
        pmDynamicCell
        [componentType]="column.content.component"
        [data]="getData(element, column.content.data)" />
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="mapColumnName()"></tr>
  <tr mat-header-row *matHeaderRowDef="mapColumnInput()"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: mapColumnName()"
    (click)="onRowClick.emit(row)"></tr>
</table>
<mat-paginator
  [pageSize]="conf.defaultPageSize ?? 15"
  [pageSizeOptions]="[5, 10, 15, 20]"
  showFirstLastButtons></mat-paginator>
