<table
  matSort
  (matSortChange)="sort($event)"
  mat-table
  [dataSource]="dataSource"
>
  <ng-container
    *ngFor="let column of conf.columns; let i = index"
    [matColumnDef]="column.name"
  >
    <th *matHeaderCellDef>
      <ng-container *ngIf="column.sort; else notSortable">
        <div mat-sort-header>
          <ng-container
            pmDynamicCell
            [componentType]="column.header.component"
            [data]="column.header.data"
          >
          </ng-container>
        </div>
      </ng-container>
      <ng-template #notSortable>
        <ng-container
          pmDynamicCell
          [componentType]="column.header.component"
          [data]="column.header.data"
        >
        </ng-container>
      </ng-template>
    </th>
    <ng-container [matColumnDef]="column.name + 'Input'">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field *ngIf="column.search">
          <mat-select
            multiple
            *ngIf="column.search.type === 'multi-select'"
            [formControl]="formInput.controls[i]"
            ><mat-option
              *ngFor="let value of column.search.values"
              [value]="value"
              >{{ value | translate }}</mat-option
            >
          </mat-select>
          <mat-select
            *ngIf="column.search.type === 'select'"
            [formControl]="formInput.controls[i]"
            ><mat-option
              *ngFor="let value of column.search.values"
              [value]="value"
              >{{ value | translate }}</mat-option
            >
          </mat-select>
          <ng-container *ngIf="column.search.type === 'dateRange'">
            <mat-date-range-input [rangePicker]="picker">
              <input
                (dateChange)="
                  onDateRangeChange(formInput.controls[i], 0, $event)
                "
                matStartDate
              />
              <input
                (dateChange)="
                  onDateRangeChange(formInput.controls[i], 1, $event)
                "
                matEndDate
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </ng-container>

          <input
            *ngIf="
              column.search.type !== 'select' &&
              column.search.type !== 'multi-select' &&
              column.search.type !== 'dateRange'
            "
            matInput
            [type]="column.search.type"
            [formControl]="formInput.controls[i]"
        /></mat-form-field>
      </th>
    </ng-container>
    <td mat-cell *matCellDef="let element">
      <ng-container
        pmDynamicCell
        [componentType]="column.content.component"
        [data]="getData(element, column.content.data)"
      />
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="mapColumnName()"></tr>
  <tr mat-header-row *matHeaderRowDef="mapColumnInput()"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: mapColumnName()"
    (click)="onRowClick.emit(row)"
  ></tr>
</table>
<mat-paginator
  pageSize="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
