@import "src/styles/colors";

.battle-attack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-color: $background-color2;
  margin: 10px 0;
  border-radius: 8px;
  &__attack {
    margin: 20px;
    padding: 10px;
    background-color: $background-color1;
    border: $background-color1 2px solid;
    border-radius: 4px;
    flex: 1;
    &__top {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 10px;
    }
    &__bottom {
      display: flex;
      gap: 10px;
      &--info {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
    }
  }
  &__attack:hover {
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
  }
}
.selectedAttack {
  border-color: green;
}
.selectedAttack:hover {
  border-color: rgb(3, 43, 3);
}
