@import "src/styles/flexbox";
@import "src/styles/colors";

.battle-resume {
  display: flex;
  &__opponent,
  &__player {
    flex: 1;
    @include flexbox(flex-start, 2, column);
    align-items: center;
    margin: 10px;
    height: 100%;
    &__pokemons {
      display: flex;
      justify-content: center;
    }
  }
  &__center {
    flex: 1;
    @include flexbox(flex-start, 2, column);
    align-items: center;
    margin: 10px;
    height: 100%;
  }
}
.pokemon-image {
  height: 50%;
  width: 50%;
}
.winner {
  background-color: $green-good-color;
}
.looser {
  background-color: $red-bad-color;
}
