<div class="trainer">
  {{ trainer.name }}
</div>
<div class="battle-trainer-pokemon">
  <div>
    <div
      *ngFor="let pokemon of trainerPokemons.slice(1)"
      class="pokemon-box"
      [ngClass]="{ ko: pokemon.currentHp === 0 }"
      (click)="!disabled && pokemon.currentHp !== 0 && click(pokemon)"
    >
      <div class="pokemon-box__info">
        <img
          src="assets/images/sprites/{{ pokemon.basePokemon.id }}MS.png"
          [alt]="pokemon.basePokemon.name"
        />
        <span>{{
          pokemon.nickname
            ? pokemon.nickname
            : (pokemon.basePokemon.name | translate)
        }}</span>
        <span>{{ "LVL" | translate }}: {{ pokemon.level }}</span>
        <span *ngIf="pokemon.currentHp === 0" class="pokemon-box__info--ko"
          >KO</span
        >
      </div>
      <progress-bar
        [style]="'hp'"
        [currentProgress]="pokemon.currentHp ?? pokemon.stats.hp"
        [max]="pokemon.stats.hp"
      />
    </div>
  </div>
  <div class="cooldown-horizontal" [style.width.%]="progress"></div>
</div>
