<div class="trainer">
  <pm-trainer-name [trainer]="trainer()" />
</div>
<div class="battle-trainer-pokemons">
  <div
    *ngFor="let pokemon of trainer().pokemons.slice(1)"
    class="battle-trainer-pokemons__pokemon-box"
    [ngClass]="{ ko: pokemon.currentHp === 0 }">
    <div class="battle-trainer-pokemons__pokemon-box__info">
      <app-display-pokemon-image [pokemon]="pokemon" [type]="'icon'" />
      <span>{{
        pokemon.nickname
          ? pokemon.nickname
          : (pokemon.basePokemon?.name ?? 'EGG' | translate)
      }}</span>
      <span>{{ 'LVL' | translate }}: {{ pokemon.level }}</span>
      <pm-battle-daily-form [dailyForm]="pokemon.dailyForm" />
      <span
        *ngIf="pokemon.currentHp === 0"
        class="battle-trainer-pokemons__pokemon-box__info--ko"
        >KO</span
      >
    </div>
    <progress-bar
      [style]="'hp'"
      [currentProgress]="pokemon.currentHp ?? pokemon.stats['hp']"
      [max]="pokemon.stats['hp']" />
  </div>
  <app-number-cooldown [cooldown]="cooldown()"></app-number-cooldown>
</div>
