@import 'src/styles/colors';
@import 'src/styles/flexbox';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .trainer {
    @include flexbox(center, 2);
  }

  .battle-trainer-pokemons {
    position: relative;
    background-color: $background-color2;
    padding: 10px;
    border-radius: 8px;

    &__pokemon-box {
      border: $background-color2 2px solid;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;

      &__info {
        display: flex;
        align-items: center;
        gap: 10px;

        &--ko {
          background-color: $background-color2;
          padding: 5px;
          border-radius: 5px;
          border: black 2px solid;
        }
      }
    }

    .ko {
      opacity: 0.5;
      cursor: default;
    }

    &__pokemon-box:hover {
      border-color: $select-border;
    }
    &__cooldown {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
  }
}
