.trainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.pokemon-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    &--ko {
      background-color: #0f0e0e;
      padding: 5px;
      border-radius: 5px;
      border: black 2px solid;
    }
  }
}
.ko {
  opacity: 0.5;
  cursor: default;
}
.pokemon-box:hover {
  border: black 2px solid;
  border-radius: 4px;
}
.battle-trainer-pokemon {
  position: relative;
}
