<div class="pokemon-info">
  <h2
    class="pokemon-info__header"
    [ngClass]="data.basePokemon?.types[0]"
    mat-dialog-title
  >
    {{ data.nickname ?? (data.basePokemon?.name ?? "EGG" | translate) }}
  </h2>
  <mat-dialog-content class="pokemon-info__content">
    <app-display-pokemon-image
      class="pokemon-info__content--image img-pokemon"
      type="max-size"
      [pokemon]="data"
    />
    <div class="pokemon-info__content--type">
      <pm-display-type [basePokemon]="data.basePokemon" />
    </div>
    <div class="pokemon-info__content--level">
      <span>{{ "LVL" | translate }}: {{ data.level }}</span
      ><progress-bar [currentProgress]="data.exp" [max]="100000" />
    </div>
    <div class="pokemon-info__content--stats">
      <app-pokemon-stats [pokemon]="data"></app-pokemon-stats>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>{{ "CLOSE" | translate }}</button>
  </mat-dialog-actions>
</div>
