<div class="pokemon-info">
  <h2
    class="pokemon-info__header"
    [ngClass]="data.basePokemon.types[0]"
    mat-dialog-title
  >
    {{
      data.nickname === "" ? (data.basePokemon.name | translate) : data.nickname
    }}
  </h2>
  <mat-dialog-content class="pokemon-info__content">
    <app-display-pokemon-image
      class="pokemon-info__content--image img-pokemon"
      type="max-size"
      [pokemon]="data"
    />
    <div class="pokemon-info__content--type">
      <img
        *ngFor="let type of data.basePokemon.types"
        class="type-displayText"
        src="assets/types/displayText/{{ type }}.png"
        [alt]="type"
      />
    </div>
    <div class="pokemon-info__content--level">
      <span>{{ "LVL" | translate }}: {{ data.level }}</span
      ><progress-bar [currentProgress]="data.exp" [max]="data.expMax" />
    </div>
    <div class="pokemon-info__content--stats">
      <span>{{ "HP" | translate }}: {{ data.stats.hp }}</span>
      <span>{{ "ATTACK" | translate }}: {{ data.stats.atk }}</span>
      <span>{{ "DEFENSE" | translate }}: {{ data.stats.def }}</span>
      <span>{{ "SPECIAL_ATTACK" | translate }}: {{ data.stats.spAtk }}</span>
      <span>{{ "SPECIAL_DEFENSE" | translate }}: {{ data.stats.spDef }}</span>
      <span>{{ "SPEED" | translate }}: {{ data.stats.spe }}</span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn-default" mat-dialog-close>Fermer</button>
  </mat-dialog-actions>
</div>
