@import 'flexbox';

:host {
  display: flex;
  justify-content: center;
  .change-password {
    @include flexbox(left, 2, column);
    align-items: stretch;
    flex: 0.25;
    gap: 15px;
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
