<form
  [formGroup]="changePasswordForm"
  (submit)="submit()"
  class="change-password">
  <mat-form-field>
    <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
    <input
      matInput
      type="password"
      name="password"
      autocomplete="current-password"
      [formControl]="changePasswordForm.controls.password" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'VERIFY_PASSWORD' | translate }}</mat-label>
    <input
      matInput
      type="password"
      [formControl]="changePasswordForm.controls.verifyPassword" />
  </mat-form-field>
  @if (changePasswordForm.hasError('passwordsNotMatching')){
  <mat-error>{{ 'PASSWORD_DO_NOT_MATCH' | translate }}</mat-error>
  }
  <div class="change-password__buttons">
    <button
      mat-flat-button
      [disabled]="changePasswordForm.invalid"
      type="submit">
      {{ 'CHANGE_PASSWORD' | translate }}
    </button>
  </div>
</form>
