@use "@angular/material" as mat;
@use "sass:map";

@import "./styles/buttons/btn-primary.scss";
@import "./styles/buttons/btn-default.scss";
@import "./styles/buttons/btn-success.scss";
@import "./styles/buttons/btn-danger.scss";
@import "./styles/modal";
@import "./styles/material-theme";
@import "./styles/palette-theme";

@include mat.core();

$pokemon-manager-primary: mat.define-palette($primary-palette);
$pokemon-manager-accent: mat.define-palette(mat.$gray-palette);

// The warn palette is optional (defaults to red).
$pokemon-manager-warn: mat.define-palette(mat.$deep-purple-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pokemon-manager-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pokemon-manager-primary,
      accent: $pokemon-manager-accent,
      warn: $pokemon-manager-warn,
    ),
  )
);

@function modify-background(
  $theme,
  $color-background-palette,
  $color-foreground-palette
) {
  $theme-color: map-get($theme, color);

  $modified-theme-color: map-merge(
    $theme-color,
    (
      background: $color-background-palette,
      foreground: $color-foreground-palette,
    )
  );
  $modified-theme: map-merge(
    $theme,
    (
      color: $modified-theme-color,
    )
  );

  @return $modified-theme;
}
$pokemon-manager-theme: modify-background(
  $pokemon-manager-theme,
  $dark-theme-background-palette,
  $dark-theme-foreground-palette
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pokemon-manager-theme);

body {
  background-color: #1f1c3d;
  color: $light-primary-text;
  border-color: #c2c3c7;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.type-displayText {
  width: 80px;
  height: 16px;
  padding: 5px;
}

.icon-type {
  height: 30px;
  width: 30px;
}

.img-pokemon {
  width: 300px;
  height: 300px;
  padding: 0 10px;
}
.img-category {
  width: 50px;
  height: 30px;
}

.clickable-icon:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.cooldown-horizontal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.cooldown-vertical {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

progress-bar {
  width: -webkit-fill-available;
}

.ELECTRIC {
  background-color: #fac000;
}
.GRASS {
  background-color: #3fa129;
}
.NORMAL {
  background-color: #9fa19f;
}
.WATER {
  background-color: #2980ef;
}
.FAIRY {
  background-color: #ef70ef;
}
.BUG {
  background-color: #91a119;
}
.FIRE {
  background-color: #e62829;
}
.DRAGON {
  background-color: #5060e1;
}
.ROCK {
  background-color: #afa981;
}
.GROUND {
  background-color: #915121;
}
.POISON {
  background-color: #9141cb;
}
.PSYCHIC {
  background-color: #ef4179;
}
.DARK {
  background-color: #50413f;
}
.GHOST {
  background-color: #704170;
}
.FIGHTING {
  background-color: #ff8000;
}
.STEEL {
  background-color: #60a1b8;
}
.ICE {
  background-color: #3fd8ff;
}
.FLYING {
  background-color: #81b9ef;
}
