// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pokemon-manager-primary: mat.define-palette(mat.$indigo-palette);
$pokemon-manager-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$pokemon-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pokemon-manager-theme: mat.define-light-theme(
  (
    color: (
      primary: $pokemon-manager-primary,
      accent: $pokemon-manager-accent,
      warn: $pokemon-manager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pokemon-manager-theme);

@import "./styles/buttons/btn-primary.scss";
@import "./styles/buttons/btn-default.scss";
@import "./styles/buttons/btn-success.scss";
@import "./styles/buttons/btn-danger.scss";

body {
  background-color: #151230;
  color: white;
  border-color: #c2c3c7;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.type-displayText {
  width: 80px;
  height: 16px;
  padding: 5px;
}

.icon-type {
  height: 30px;
  width: 30px;
}

.img-pokemon {
  width: 300px;
  height: 300px;
  padding: 0 10px;
}
.img-category {
  width: 50px;
  height: 30px;
}

.clickable-icon:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.cooldown-horizontal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.cooldown-vertical {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

progress-bar {
  width: -webkit-fill-available;
}

.ELECTRIC {
  background-color: #fac000;
}
.GRASS {
  background-color: #3fa129;
}
.NORMAL {
  background-color: #9fa19f;
}
.WATER {
  background-color: #2980ef;
}
.FAIRY {
  background-color: #ef70ef;
}
.BUG {
  background-color: #91a119;
}
.FIRE {
  background-color: #e62829;
}
.DRAGON {
  background-color: #5060e1;
}
.ROCK {
  background-color: #afa981;
}
.GROUND {
  background-color: #915121;
}
.POISON {
  background-color: #9141cb;
}
.PSYCHIC {
  background-color: #ef4179;
}
.DARK {
  background-color: #50413f;
}
.GHOST {
  background-color: #704170;
}
.FIGHTING {
  background-color: #ff8000;
}
.STEEL {
  background-color: #60a1b8;
}
.ICE {
  background-color: #3fd8ff;
}
.FLYING {
  background-color: #81b9ef;
}
