<img class="battle__scene__background" src="assets/battleback/City.png" />
@if (opponent()?.pokemons && player()?.pokemons) {
<div class="battle__scene__opponent">
  @for (opponentPokemon of opponent().pokemons; track opponentPokemon._id) {
  <div
    class="battle__scene__opponent__pokemon"
    [ngClass]="
      'battle__scene__opponent__pokemon--' + opponent().pokemons.length
    ">
    <div class="battle__scene__opponent__pokemon__info">
      <span
        >{{
          opponentPokemon.nickname ?? opponentPokemon.basePokemon.name
            | translate
        }}
      </span>
      <span>
        {{ 'LVL' | translate }}: {{ opponentPokemon.level }}
        <pm-battle-daily-form [dailyForm]="opponentPokemon.dailyForm" />
      </span>
      <progress-bar
        [currentProgress]="opponentPokemon.currentHp"
        [displayHp]="false"
        [max]="opponentPokemon.stats['hp']"
        [min]="0"
        [style]="'hp'"></progress-bar>
    </div>
    <div class="battle__scene__opponent__pokemon__image">
      <img
        class="battle__scene__opponent__pokemon__image__ground"
        [ngClass]="
          'battle__scene__opponent__pokemon__image__ground--' +
          opponent().pokemons.length
        "
        src="assets/battleback/ground_city.PNG" />
      <app-display-pokemon-image
        [ngClass]="[
          opponentPokemon.moving
            ? 'battle__scene__opponent__pokemon__image__pokemon--moving'
            : '',
          'battle__scene__opponent__pokemon__image__pokemon--' +
            opponent().pokemons.length,
          opponentPokemon.currentHp === 0
            ? 'battle__scene__opponent__pokemon__image__pokemon--ko'
            : ''
        ]"
        [pokemon]="opponentPokemon"
        [disabledClick]="true"
        type="thumbnails" />
      @if (opponentPokemon.animation) {
      <img
        class="battle__scene__opponent__pokemon__image__animation"
        src="assets/move_animation/{{ opponentPokemon.animation }}.gif"
        [alt]="opponentPokemon.animation" />
      }
    </div>
  </div>
  }
</div>
<div class="battle__scene__player">
  @for (playerPokemon of player().pokemons; track playerPokemon._id) {
  <div
    class="battle__scene__player__pokemon"
    [ngClass]="'battle__scene__player__pokemon--' + player().pokemons.length">
    <div class="battle__scene__player__pokemon__image">
      <img
        class="battle__scene__player__pokemon__image__ground"
        [ngClass]="
          'battle__scene__player__pokemon__image__ground--' +
          opponent().pokemons.length
        "
        src="assets/battleback/ground_city.PNG" />
      <app-display-pokemon-image
        class="battle__scene__player__pokemon__image__pokemon"
        [ngClass]="[
          playerPokemon.moving
            ? 'battle__scene__player__pokemon__image__pokemon--moving'
            : '',
          playerPokemon.currentHp === 0
            ? 'battle__scene__player__pokemon__image__pokemon--ko'
            : '',
          'battle__scene__player__pokemon__image__pokemon--' +
            player().pokemons.length
        ]"
        [pokemon]="playerPokemon"
        type="back" />
      @if (playerPokemon.animation) {
      <img
        class="battle__scene__player__pokemon__image__animation"
        src="assets/move_animation/{{ playerPokemon.animation }}.gif"
        [alt]="playerPokemon.animation" />
      }
    </div>
    <div class="battle__scene__player__pokemon__info">
      <span
        >{{
          playerPokemon.nickname ?? playerPokemon.basePokemon.name | translate
        }}
      </span>
      <div class="flex">
        {{ 'LVL' | translate }}: {{ playerPokemon.level }}
        <pm-battle-daily-form [dailyForm]="playerPokemon.dailyForm" />
      </div>
      <progress-bar
        [currentProgress]="playerPokemon.currentHp"
        [displayHp]="true"
        [max]="playerPokemon.stats['hp']"
        [min]="0"
        [style]="'hp'"></progress-bar>
    </div>
  </div>
  }
</div>
} @else {
<div class="waiting">
  <span>{{ 'WAITING_FOR_OPPONENT' | translate }}</span>
</div>
}
