<div class="nursery-pokemon-list__header">
  <span
    >{{ 'MAX_POKEMONS_TO_KEEP' | translate }} :
    <span
      class="nursery-pokemon-list__header__ratio"
      [ngClass]="{
        'nursery-pokemon-list__header__ratio--bad':
          nursery?.eggs?.length >
          nursery?.wishList?.quantity *
            (nursery?.step === 'FIRST_SELECTION' ? 2 : 1)
      }"
      >{{ nursery?.eggs?.length }}/{{
        nursery?.wishList?.quantity *
          (nursery?.step === 'FIRST_SELECTION' ? 2 : 1)
      }}</span
    ></span
  >
</div>
@if (nursery?.eggs) {
<div class="nursery-pokemon-list__eggs">
  @for (egg of nursery.eggs; track egg) {
  <div class="nursery-pokemon-list__eggs__egg">
    <app-display-pokemon-image [pokemon]="egg" type="thumbnails" />
    @if (egg.basePokemon.types) {
    <pm-display-type [types]="egg.basePokemon.types" />
    }
    <span>{{ 'POTENTIAL' | translate }} : {{ egg.hiddenPotential }}</span>
    <button mat-flat-button (click)="release(egg)" color="warn">
      {{ 'RELEASE' | translate }}
    </button>
  </div>
  }
</div>
}
