<div class="nursery-pokemon-list__header">
  <span
    >{{ "MAX_POKEMONS_TO_KEEP" | translate }} :
    <span
      class="nursery-pokemon-list__header__ratio"
      [ngClass]="{
        'nursery-pokemon-list__header__ratio--bad':
          nursery?.eggs?.length >
          nursery?.wishList?.quantity *
            (nursery?.step === 'FIRST_SELECTION' ? 2 : 1)
      }"
      >{{ nursery?.eggs?.length }}/{{
        nursery?.wishList?.quantity *
          (nursery?.step === "FIRST_SELECTION" ? 2 : 1)
      }}</span
    ></span
  >
</div>
<div *ngIf="nursery?.eggs" class="nursery-pokemon-list__eggs">
  <div *ngFor="let egg of nursery.eggs" class="nursery-pokemon-list__eggs__egg">
    <app-display-pokemon-image [pokemon]="egg" type="thumbnails" />
    <div>
      <pm-display-type [types]="egg.basePokemon.types" />
    </div>
    {{ "POTENTIAL" | translate }} : {{ egg.hiddenPotential }}
    <button mat-flat-button (click)="release(egg)" color="warn">
      {{ "RELEASE" | translate }}
    </button>
  </div>
</div>
