@import 'src/styles/flexbox';

:host {
  @include flexbox(space-between, 1, row);
  flex: 1;
  .move {
    &__right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__left {
      display: flex;
      gap: 10px;
      &--info {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
    }
  }
}
