@import "src/styles/flexbox";

:host {
  display: block;
  padding: 15px;
  .trainers {
    @include flexbox(flex-start, 2);
    &__table__pokemons {
      display: flex;
      flex-direction: row;
    }
  }
}
