<div class="trainers">
  <pm-custom-table [$data]="trainers$" [conf]="conf"></pm-custom-table>
  <!--  <table matSort (matSortChange)="sort($event)" mat-table [dataSource]="trainers$">-->
  <!--    <ng-container matColumnDef="name">-->
  <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainer</th>-->
  <!--      <td mat-cell *matCellDef="let element">{{ element.name }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef="pokemons">-->
  <!--      <th mat-header-cell *matHeaderCellDef>Pokemons</th>-->
  <!--      <td mat-cell *matCellDef="let element">-->
  <!--        <div class="trainers__table__pokemons">-->
  <!--          <app-display-pokemon-image-->
  <!--            *ngFor="let pokemon of element.pokemons"-->
  <!--            [pokemon]="pokemon"-->
  <!--            type="icon"-->
  <!--          />-->
  <!--        </div>-->
  <!--      </td>-->
  <!--    </ng-container>-->
  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--    <tr-->
  <!--      mat-row-->
  <!--      (click)="click(row)"-->
  <!--      *matRowDef="let row; columns: displayedColumns"-->
  <!--    ></tr>-->
  <!--  </table>-->
</div>
