@if (effectiveness) {
<div class="pokemon-base-effectiveness">
  @for (type of Object.keys(effectiveness); track type) {
  <div class="pokemon-base-effectiveness__type-effectiveness">
    <div
      class="pokemon-base-effectiveness__type-effectiveness__type"
      [ngClass]="type">
      <pm-display-type [types]="type" [displayText]="false" />
      <span>{{ type | translate }}</span>
    </div>
    <div
      class="pokemon-base-effectiveness__type-effectiveness__effectiveness"
      [ngClass]="{
        EFFECTIVE: effectiveness[type] === 1,
        NOT_VERY_EFFECTIVE: effectiveness[type] < 1 && effectiveness[type] > 0,
        SUPER_EFFECTIVE: effectiveness[type] > 1,
        IMMUNE: effectiveness[type] === 0
      }">
      x{{ effectiveness[type] }}
    </div>
  </div>
  }
</div>
}
