:host {
  margin: 0 10px;
  .progress-bar {
    height: 5px;
    background-color: lightgray;
    &--progress {
      height: 100%;
      background-color: aqua;
      transition: width 0.5s linear, background-color 0.5s linear;
    }
  }

  .hp {
    display: flex;
    height: 10px;
    font-size: 14px;
    justify-content: flex-end;
    flex-direction: column;
  }
}
