.egg-hatched {
  position: relative;
  height: 320px;
  width: 320px;
  &__img {
    position: absolute;
    height: 320px;
    width: 320px;
    &__pokemon {
      height: 320px;
      width: 320px;
      animation: hatched 0.5s ease;
    }
    &__cracks {
      position: relative;
      height: 280px;
      width: 280px;
      padding: 20px;
    }
  }
  &__message {
    width: 320px;
  }
}

@keyframes hatched {
  0% {
    filter: brightness(50);
  }
  100% {
    filter: brightness(1);
  }
}
