@import "src/styles/flexbox";
@import "src/styles/colors";

.top-bar {
  position: relative;
  display: flex;
  background-color: $background-color1;
  height: 50px;
  border-bottom: #252525 2px solid;
  align-items: center;
  justify-content: space-between;
  &__left-content {
    display: flex;
    align-items: center;
    gap: 10px;
    &__pokemons {
      height: fit-content;
      display: flex;
      align-items: center;
      border: #252525 2px solid;
      border-radius: 4px;
    }
  }
  &__right-content {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    align-items: center;
    &__time {
      @include flexbox(center, 2);
    }
  }
}
