@if (player$ | async; as player) {
<div>
  <div class="top-bar">
    <div class="top-bar__left-content">
      <button
        mat-icon-button
        [disabled]="goHomeDisabled$ | async"
        (click)="menu()">
        <mat-icon
          [matBadgeHidden]="badgeDataService.sidenav.length === 0"
          matBadgeColor="warn"
          matBadge="&#8288;"
          matBadgeSize="small"
          >menu</mat-icon
        >
      </button>
      <span>{{ player.name }}</span>
      <div class="top-bar__left-content__berries-count">
        <span>{{ player.berries ?? 0 | numberFormatter }}</span>
        <img src="assets/structures/BerryFarm/baie_oran.png" alt="berry" />
      </div>
      <div class="top-bar__left-content__money">
        <span>{{ player.money ?? 0 | numberFormatter }}</span>
        <span>$</span>
      </div>
      <div class="top-bar__left-content__pokemons">
        @for (pokemon of player.pokemons; track pokemon) {
        <app-display-pokemon-image
          class="clickable-icon"
          [pokemon]="pokemon"
          type="icon"
          (click)="openInfo(pokemon)" />
        }
      </div>
    </div>
    {{ title$ | async | translate }}
    @if (date$ | async; as date) {
    <div class="top-bar__right-content">
      @if (lang) {
      <button
        mat-flat-button
        (click)="changeLanguage(lang === 'fr-FR' ? 'en-EN' : 'fr-FR')">
        <img
          [alt]="lang"
          [src]="
            'https://flagsapi.com/' + getLangFlag(lang) + '/flat/32.png'
          " />
      </button>
      }
      <button mat-flat-button (click)="showCalendar()">
        {{ date }} <mat-icon>calendar_today</mat-icon>
      </button>
      <pm-continue-button />
    </div>
    }
  </div>
  @if (showWeekCalendar) {
  <app-top-bar-week-calendar
    [player]="player"
    (click)="showCalendar()"></app-top-bar-week-calendar>
  }
</div>
}
