@import "src/styles/colors";

.top-bar {
  background-color: $background-color1;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: #252525 2px solid;
  margin-bottom: 10px;
  &__pokemons {
    height: fit-content;
    margin: 0 10px;
    display: flex;
    align-items: center;
    border: #252525 2px solid;
    border-radius: 4px;
  }
}
