<div *ngIf="player$ | async as player">
  <div class="top-bar">
    <div class="top-bar__left-content">
      <button
        mat-icon-button
        [disabled]="goHomeDisabled$ | async"
        (click)="menu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ player.name }}</span>
      <div class="top-bar__left-content__pokemons">
        <app-display-pokemon-image
          *ngFor="let pokemon of player.pokemons"
          class="clickable-icon"
          [pokemon]="pokemon"
          type="icon"
          (click)="openInfo(pokemon)"
        />
      </div>
    </div>
    {{ title$ | async | translate }}
    <div class="top-bar__right-content" *ngIf="date$ | async as date">
      <button
        mat-flat-button
        *ngIf="lang"
        (click)="changeLanguage(lang === 'fr-FR' ? 'en-EN' : 'fr-FR')"
      >
        <img
          [alt]="lang"
          [src]="'https://flagsapi.com/' + getLangFlag(lang) + '/flat/32.png'"
        />
      </button>
      <button mat-flat-button (click)="showCalendar()">
        {{ date }} <mat-icon>calendar_today</mat-icon>
      </button>
      <button mat-flat-button color="accent" (click)="simulate(player._id)">
        <span
          class="top-bar__right-content__continue"
          *ngIf="!simulating; else spinner"
        >
          {{ "CONTINUE" | translate }} <mat-icon>arrow_forward</mat-icon></span
        >
        <ng-template #spinner>
          <mat-spinner color="warn" diameter="20"></mat-spinner
        ></ng-template>
      </button>
    </div>
  </div>
  <app-top-bar-week-calendar
    *ngIf="showWeekCalendar"
    [player]="player"
    (click)="showCalendar()"
  ></app-top-bar-week-calendar>
</div>
