<form mat-dialog-content [formGroup]="form" (submit)="submit()">
  <mat-form-field>
    <mat-label>{{ 'USERNAME' | translate }}</mat-label>
    <input
      matInput
      type="text"
      name="username"
      autocomplete="username"
      [formControl]="form.controls.username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input
      matInput
      type="email"
      name="email"
      autocomplete="email"
      [formControl]="form.controls.email" />
    @if (form.controls.email.hasError('invalidEmail')){
    <mat-error>{{ 'ENTER_VALID_EMAIL' | translate }}</mat-error>
    }
  </mat-form-field>
  <div mat-dialog-actions class="forgotten-password__action">
    <button mat-flat-button [disabled]="form.invalid" type="submit">
      {{ 'GET_MAIL' | translate }}
    </button>

    <button mat-flat-button mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</form>
