@import "src/styles/colors";

.circular-progress-bar {
  &__background {
    fill: $progress-bar-background-color;
  }
  &__full {
    fill: $max-hp-color;
  }
  &__center {
    fill: $background-color2;
  }
}
